* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree";
  font-weight: 400;
}

.ikram {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}

.mmm {
  padding: 50px;
  
}
.svg {
  text-align: center;
  margin-top: 70px;
}

.container {
  display: flex;
  text-align: center;
  justify-content: center;
}

.written {
  text-align: center;
  padding: 30px;
  width: 750px;
  justify-content: center;

  .history {
    padding: 20px;
    font-size: 2.6rem;
    color: hsl(210, 10%, 33%);
  }

  .clipboard {
    font-size: 1.2rem;
    color: hsl(201, 11%, 66%);
  }
}

.download {
  text-align: center;
  letter-spacing: 20px;
  margin-top: 20px;
  .submit {
    height: 50px;
    width: 180px;
    background-color: rgb(124, 185, 124);
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px rgba(124, 185, 124, 0.4);
  }
  .submit1 {
    height: 50px;
    width: 180px;
    background-color: rgb(89, 89, 188);
    border-radius: 30px;
    color: white;
    border: none;
    box-shadow: 0px 5px 10px rgba(89, 89, 188, 0.4);
  }
}

.keep {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 100px;

  .snippet {
    width: 620px;
  }
  .track {
    color: hsl(210, 10%, 33%);
    padding: 20px;
  }
  .store {
    color: hsl(201, 11%, 66%);
  }
}

.i-quick {
  display: flex;
  justify-content: center;
  gap: 100px;
  .img {
  }

  .side {
    width: 350px;
    .quick {
      color: hsl(210, 10%, 33%);
      margin-top: 70px;
      font-size: larger;
    }
    .easy {
      color: hsl(201, 11%, 66%);
      margin-top: 10px;
    }
  }
}

.any {
  display: flex;
  justify-content: center;
  text-align: center;
  .a-w {
    width: 600px;
    padding: 20px;
    margin-top: 80px;
    .access {
      color: hsl(210, 10%, 33%);
      font-size: 25px;
    }
    .whether {
      color: hsl(201, 11%, 66%);
      margin-top: 20px;
    }
  }
}

.dev {
  text-align: center;
  padding: 50px;
}

.charge {
  display: flex;
  justify-content: center;
  text-align: center;
  .work {
    color: hsl(210, 10%, 33%);
  }
  .boost {
    color: hsl(201, 11%, 66%);
    padding: 20px;
  }
}

.look {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 50px;
  .list {
    width: 350px;
  }
  .black {
    color: hsl(210, 10%, 33%);
    font-size: 20px;
    padding: 20px;
  }
  .ensure {
    color: hsl(201, 11%, 66%);
    line-height: 30px;
  }
}

.photo {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 100px;
  margin-top: 150px;
  height: 40px;
}

.charge1 {
  display: flex;
  justify-content: center;
  text-align: center;
  .super1 {
    width: 600px;
    margin-top: 150px;
  }
  .work1 {
    color: hsl(210, 10%, 33%);
    font-size: 25px;
  }
  .boost1 {
    color: hsl(201, 11%, 66%);
    padding: 20px;
  }
}

.end {
  background-color: hsl(200, 60%, 97%);
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  gap: 150px;
  .end1 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 18rem;
  }

  ul {
    list-style-type: none;
    color: hsl(210, 10%, 33%);
    display: flex;
    font-size: 1.1rem;
    cursor: pointer;
    flex-wrap: wrap;
    width: 50rem;
  }

  li {
    padding: 1rem;
    width: 15rem;
    text-align: left;
    color: hsl(201, 11%, 66%);
    &:hover {
      color: hsl(171, 66%, 44%);
    }
  }

  .log {
    height: 50px;
  }

  .soc {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .ikram {
    background-size: 100rem;
  }
  .mmm {
    padding: 50px;
  }
  .logo {
    padding: 45px;
  }
  .container {
    display: flex;
  }
  .written {
    .history {
      width: 350px;
      font-size: 30px;
    }
    .clipboard {
    
      
  }
  }

  .download {
    padding-bottom: 100px;
    .submit {
      width: 300px;
      height: 60px;
      margin-top: -20px;
    }
    .submit1 {
      width: 300px;
      height: 60px;
      margin-top: 20px;
    }
  }

  .snippet {
    margin-top: -100px;
  }

  .track {
    width: 300px;
  }

  .store {
    font-size: 19px;
  }

  .device {
    width: 100%;
  }

  .photo {
    padding: 150px;
    padding-right: 150px;
    flex-direction: column;
    gap: 50px;
    img {
      width: 100px;
    }
  }
  .i-quick {
    flex-direction: column;
    text-align: center;
  }

  .img1 {
    width: 90%;
  }

  .end {
    padding: 40px;
    ul {
      flex-direction: column;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 30px;
    }
    li {
      text-align: center;
    }

    .end1 {
      flex-direction: column;
      text-align: center;
      padding: 0;
    }
    .soc {
      gap: 30px;
    }
  }

  .look {
    flex-direction: column;
    .list {
      padding: 20px;
    }
    .ensure {
      font-size: 1.1rem;
    }
  }
  .super1 {
    .work1 {
      font-size: 2rem;
    }
    .boost1 {
      padding: 3rem;
    }
  }
  .super {
    .boost {
      font-size: 20px;
    }
  }
  .a-w {
    font-size: 20px;
    .access {
      padding: 20px;
    }
  }
  .side {
    padding: 50px;
  }
}

@media only screen and (max-width: 800px) {

}
